<p id="notice"><%= notice %></p>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>

    <h3>Condos in Gas Lamp District</h3>
    <div id="map"></div>
  </body>

<h1>condos</h1>
<form method="get" action="/condos">
  <label for="search">Search for condos:</label>
  <input type="text" name="search" placeholder="Search By" />
  <input type="submit" value="Search" />
</form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>City</th>
      <th>Zip code</th>
      <th>State</th>
      <th>Country</th>
      <th>Phone number</th>
      <th>Hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @condos.each do |condo| %>
      <tr>
        <td><%= condo.name %></td>
        <td><%= condo.location %></td>
        <td><%= condo.city %></td>
        <td><%= condo.zip_code %></td>
        <td><%= condo.state %></td>
        <td><%= condo.country %></td>
        <td><%= condo.phone_number %></td>
        <td><%= condo.hours %></td>
        <td><%= link_to 'Show', condo %></td>
        <td><%= link_to 'Edit', edit_condo_path(condo) %></td>
        <td><%= link_to 'Destroy', condo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New condo', new_condo_path %>
<!-- Robs google maps javascript api key -->
<!-- AIzaSyCheRcTO2xHYLnSWGJtySnf-t6EZe1DTHc -->
